<div class="cx-container">
  <a
    [routerLink]="{ cxRoute: 'product', params: product } | cxUrl"
    (click)="setShouldRemoveCurrentSelections(false)"
    class="cx-product-image-container"
    tabindex="-1"
  >

    <!-- Image -->
    <cx-media
      class="cx-product-image"
      [container]="product.images?.PRIMARY"
      format="product"
      [alt]="product.summary"
    ></cx-media>
  </a>

  <!-- Name -->
  <a
    [routerLink]="{ cxRoute: 'product', params: product } | cxUrl"
    (click)="setShouldRemoveCurrentSelections(false)"
    class="cx-product-name"
    [innerHTML]="product.nameHtml"
  ></a>

  <!-- Rating -->
  <div class="cx-product-rating">
    <cx-star-rating
      *ngIf="product.averageRating"
      [rating]="product?.averageRating"
      [disabled]="true"
    ></cx-star-rating>
    <div *ngIf="!product.averageRating">
      {{ 'productDetails.noReviews' | cxTranslate }}
    </div>
  </div>

  <!-- Price -->
  <div class="cx-product-price-container">
    <div class="cx-product-price" aria-label="Product price">
      <div *ngIf="product.price?.formattedValue; else compositePrice">
        {{ 'guidedSelling.currentSelection.startingFrom' | cxTranslate }}
      </div>
      {{ product.price?.formattedValue }}
    </div>
  </div>

  <ng-template #compositePrice>
    <cx-price-display [price]="product.productOfferingPrice[0]"></cx-price-display>
  </ng-template>

  <!-- Select/Unselect Button -->
  <cx-guided-selling-add-selection
    [product]="product"
    [isSelected]="isSelected"
    [tmfProducts]="tmfProducts"
    (updateSelected)="updateSelected($event)"
  ></cx-guided-selling-add-selection>
</div>
