.label {
  font-size: 1.3rem !important;
    font-weight: 600 !important;
    color: #495057cf !important;
    text-transform: capitalize !important;
}

.mn-10{
  min-height: 10px !important;
}

.background-red {
  background-color: red;
}

.background-green {
  background-color: green;
}


