<div>
    <table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
        <tbody>
            <tr>
                <td colspan="2" height="125px" width="35%" rowspan="2" class="structureViewSection">
                    <cockpit code="SiteLogo"/>
                </td>
                <td colspan="2" class="structureViewSection">
                    <cockpit code="HeaderLinks"/>
                </td>
                <td colspan="2" width="20%" rowspan="2" class="structureViewSection">
                    <cockpit code="MiniCart"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="89px" class="structureViewSection">
                    <div>Header</div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="structureViewSection">
                    <cockpit code="NavigationBar"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" height="58px" style="vertical-align:middle;" class="structureViewSection">
                    <div>Breadcrumb</div>
                </td>
            </tr>
            
       
            <tr>
                <td height="270px" colspan="6" class="structureViewSection">
                    <cockpit code="Footer"/>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
        <cockpit code="editor"/>
    </div>
</div>
