@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLXR1YVNwYTY6NW5CdjlsUXdGd0dqVmtiYVE1S3cwMXl4STFYVXRSZ1g=
always-auth=true
