
always-auth=true
@spartacus:registry=https://common.repositories.cloud.sap/artifactory/api/npm/spartacus-internal/
//common.repositories.cloud.sap/artifactory/api/npm/spartacus-internal/:_auth=
email = myemail@email.com