%ProductDetailsPageTemplate {
  @extend %ProductDetailsPageTemplate !optional;
  cx-page-slot {
    &.Summary {

      @include media-breakpoint-up(lg) {
        cx-product-summary{
          height: fit-content;
        }

        cx-product-checklist {
          grid-column: 2;
          grid-row: 3;
          padding-inline-end: 20px;
          padding-inline-start: 20px;
        }

        cx-add-to-cart {
          grid-row: 4;
          width: 40%;
        }
      }
    }
  }
}
