@import "@spartacus/styles/scss/mixins";

.product-list-item-carousel {
  position: relative;
  background-color: var(--cx-color-background);
  border: 3px solid var(--cx-color-secondary);
  border-radius: 8px;
  max-width: 320px;
  height: 485px;

  &:hover {
    border: 3px solid var(--cx-color-primary);
  }

  .inner-container {
    padding: 15px;
    .font-bold {
      font-weight: var(--cx-font-weight-bold);
    }
    .product-spec-description {
      padding: 0 0 5px;
      &-icon {
        color: var(--cx-color-primary);
      }
    }

    .price {
      padding-bottom: 10px;
      span:first-child {
        color: var(--cx-color-primary);
        font-size: var(--cx-font-size, 1.85rem);
        font-weight: var(--cx-font-weight-bold);
      }
      .bonus {
        position: absolute;
        top: 75px;
        right: 0;
        border: 1px solid var(--cx-color-medium);
        background: var(--cx-color-inverse);
        border-radius: 16px 0 0 16px;
        font-weight: var(--cx-font-weight-bold);
        &-inner {
          padding: 5px;
        }
      }
    }

    .price-row {
      padding-bottom: 10px;
      .price-title {
        font-weight: var(--cx-font-weight-semi);
      }
      .d-flex {
        div:first-child {
          min-width: 43%;
        }
      }
    }
  }

  .view-more {
    position: absolute;
    bottom: 70px;
    width: 100%;
    left: 0;
    padding: 0 15px;
    color: var(--cx-color-primary);

    cx-icon {
      &:before {
        color: var(--cx-color-primary);
      }
    }
  }

  cx-add-to-cart {
    position: absolute;
    bottom: 15px;
    width: 100%;
    left: 0;
    padding: 0 15px;
  }
}

::ng-deep {
  cx-carousel {
    .slides {
      .slide {
        justify-content: space-evenly !important;
        .item.active {
          &:last-child {
            max-width: 320px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .product-list-item-carousel {
    max-width: 100%;
  }
  ::ng-deep {
    cx-carousel {
      .slides {
        .item.active {
          &:last-child {
            max-width: 100%;
          }
        }
      }
    }
  }
}
