<div style="margin-top: 2rem">
  <div class="col">
    <strong
    ><label>{{ pscvu.name }}</label></strong
    >
    <div class="d-flex justify-content-between" style="padding-left: 1rem">
      <div
        *ngFor="let pscv of pscvu.productSpecCharacteristicValue"
        class="col"
      >
        <input
          class="form-control"
          (change)="sendBooleanInput(pscv.value)"
          [ngClass]="{
            'is-invalid':
              isAnyError(productCode) &&
              pscvu.minCardinality > 0 &&
              (configurablePscvusService.addToCartPressed ||
                configurablePscvusService.selectPressed) &&
              !isSelected
          }"
          id="{{ id + pscv.value }}"
          name="{{ pscvu.name }}"
          type="radio"
        />
        <label for="{{ id + pscv.value }}">{{ pscv.value }}</label>
      </div>
    </div>
  </div>

  <div
    *ngIf="
      isAnyError(productCode) &&
      pscvu.minCardinality > 0 &&
      (configurablePscvusService.addToCartPressed ||
        configurablePscvusService.selectPressed) &&
      !isSelected
    "
    class="text-danger small"
  >
    <ng-container
      *ngIf="
        pscvu.maxCardinality !== undefined &&
        pscvu.minCardinality === pscvu.maxCardinality &&
        pscvu.maxCardinality === 1
      "
    >
      {{
      'productDetails.productSpecificCharacteristics.mandatoryField'
        | cxTranslate
      }}
    </ng-container>

    <ng-container
      *ngIf="
        pscvu.maxCardinality !== undefined &&
        pscvu.minCardinality === pscvu.maxCardinality &&
        pscvu.maxCardinality !== 1
      "
    >
      {{
      'productDetails.productSpecificCharacteristics.mandatoryFieldValues'
        | cxTranslate: {quantity: pscvu.minCardinality}
      }}
    </ng-container>

    <ng-container
      *ngIf="
        pscvu.maxCardinality !== undefined &&
        pscvu.minCardinality !== pscvu.maxCardinality
      "
    >
      {{
      'productDetails.productSpecificCharacteristics.selectBetweenMinAndMax'
        | cxTranslate
        : {min: pscvu.minCardinality, max: pscvu.maxCardinality}
      }}
    </ng-container>

    <ng-container *ngIf="pscvu.maxCardinality === undefined">
      {{
      'productDetails.productSpecificCharacteristics.selectAtLeast'
        | cxTranslate: {min: pscvu.minCardinality}
      }}
    </ng-container>
  </div>
</div>
