.cx-consumption {
  margin-top: 10px;
  margin-bottom: 10px;

  .nav-pills {
    justify-content: space-between;
    flex: 1;
  }
}

::ng-deep .nav-pills a.nav-link.active {
  color: var(--cx-color-inverse);
  background-color: var(--cx-color-primary);
}
