.readonly-value {
    font-size: var(--cx-font-size, 0.875rem);
    font-weight: var(--cx-font-weight-normal);
    line-height: 1.6;
    color: var(--cx-color-secondary);
    text-align: left;
  }
  
  .readonly {
    font-size: var(--cx-font-size, 0.875rem);
    font-weight: var(--cx-font-weight-bold);
    line-height: 1.6;
    color: var(--cx-color-secondary) !important;
    text-align: left;
  }
  
  .readonly-dark {
    font-size: var(--cx-font-size, 0.875rem);
    font-weight: var(--cx-font-weight-bold);
    line-height: 1.6;
    color: var(--cx-color-text);
    text-align: left;
  }
  
  .title {
    font-size: var(--cx-font-size, 1rem);
    font-weight: var(--cx-font-weight-bold);
    line-height: var(--cx-line-height, 1.2222222222);
  }
  