
.label {
    font-size: 0.9rem;
    font-weight: 600;
}

.labelHeading {
    font-size: 0.8rem;
    font-weight: 600;

}

.labelText {
    font-size: 0.9rem;
    font-weight: 500;
}

.background-active{
    background-color: green;
}
.background-cancelled{
    background-color: red;
}
.text-green {
    color: green;
}
