
.accordion .card-header {
  background-color: #fff !important;
  padding: 0 !important;
  border: none !important;
}
.accordion .card-body {
  padding: 0 !important;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}
