.cx-bold {
  font-weight: var(--cx-font-weight-bold);
}

.text-value {
  font-size: var(--cx-font-size);
  font-weight: var(--cx-font-weight-bold);
  line-height: var(--cx-line-height, 1.2222222222);
  text-align: left;
}

.text-label {
  font-size: var(--cx-font-size, 1rem);
  font-weight: var(--cx-font-weight-bold);
  line-height: var(--cx-line-height, 1.2222222222);
  text-align: left;
}

.cx-size-small {
  font-size: var(--cx-font-size, 0.875rem);
}
