{{recurringCharge.taxIncludedAmount.value}}&nbsp;{{ 'common.currencies.currency' | cxTranslate : {context: recurringCharge.taxIncludedAmount.currencyIso} }}
 {{
'productDetails.price.priceTypes.billingEvents.billingEvent'
  | cxTranslate: { context: recurringCharge.recurringChargePeriod }
}}
<span *ngIf="recurringCharge.cycle">
  <ng-container *ngIf="recurringCharge.cycle.cycleStart!==1 || recurringCharge.cycle.cycleEnd">
    <ng-container *ngIf="recurringCharge.cycle.cycleStart && recurringCharge.cycle.cycleEnd">
      {{'productDetails.price.common.for' | cxTranslate}}
      {{recurringCharge.cycle.cycleStart}}&nbsp;{{'productDetails.price.common.to' | cxTranslate}}&nbsp;{{recurringCharge.cycle.cycleEnd}}
    </ng-container>
    <ng-container *ngIf="recurringCharge.cycle.cycleStart && !recurringCharge.cycle.cycleEnd">
      {{'productDetails.price.common.onwards' | cxTranslate}}
    </ng-container>
  </ng-container>
</span>
