.header-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-custom {
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;
}

.btn-wd-40 {
    width: 30%;
}

.productName {
    font-size: 1.3rem;
    font-weight: 700;
}

.productId {
    font-size: 0.8rem;
    font-weight: 600;
}

.pleft-50 {
    padding-left: 50px !important;
}

.card-header {    
    margin-bottom: 10px;
  }