<cx-split-view [hideMode]="false">
  <ng-container *ngIf="structure$ as structure">
    <cx-view *ngIf="listData$ | async as billingAccounts">
      <section class="cx-billing-accounts-list">
        <cx-table
          *ngIf="billingAccounts.length > 0"
          [structure]="structure"
          [data]="billingAccounts"
          [i18nRoot]="domainType"
          [currentItem]="{ property: key, value: getCurrentKey() | async }"
          (launch)="launchItem($event)"
        ></cx-table>
      </section>
    </cx-view>
    <!-- nested split views are rendered inside child routes -->
    <router-outlet></router-outlet>
  </ng-container>
</cx-split-view>
