.discountedPriceColor {
  color: var(--cx-color-primary) !important;
}

.priceFont {
  font-size: 1.1rem !important;
  font-weight: var(--cx-font-weight-bold) !important;
}

.ht-250 {
  min-height: 50px;
  max-height: 150px;
  overflow-y: auto;
  font-size: 1.15rem;
}

.listNone{
  list-style-type: none !important;
}

