classes
*.class
gensrc
eclipsebin
.DS_Store
.idea/
rebel.xml
target
/bin/
resources/beans.xsd
resources/items.xsd
platformhome.properties
extensioninfo.xsd
build.xml
resources/spartacussampledata/*-*testclasses.xml
resources-lang/touch_impexgen
resources/spartacussampledata/import/contentCatalogs/*ContentCatalog/cms-responsive-content_*.impex
resources/spartacussampledata/import/contentCatalogs/*ContentCatalog/email-content_*.impex
resources/spartacussampledata/import/stores/*/consents_*.impex
resources/spartacussampledata/import/stores/*/user-groups_*.impex

.vscode/
